<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('회원가입')}"></head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

<main class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h1 class="h4 mb-4 text-center">회원가입</h1>
                    <form method="post" th:action="@{/users/new}" th:object="${userForm}">
                        <div class="mb-3">
                            <label class="form-label" for="nickName">닉네임</label>
                            <input class="form-control" id="nickName" th:field="*{nickName}" type="text" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">이메일</label>
                            <input class="form-control" id="email" th:field="*{email}" type="email" required>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="password">비밀번호</label>
                            <input class="form-control" id="password" th:field="*{password}" type="password" required>
                        </div>
                        <button class="btn btn-primary w-100" type="submit">가입하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
<th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>
</html>
